body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#ground {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/img/bg_1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #ffffff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
    font-weight: bold;
}

.navbar .navbar-brand span {
    color: #0059ff;
}

.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
    /* font-weight: bold; */
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}

.navbar-toggler {
    outline: none !important;
}

.navbar-nav {
    float: right;
    text-align: right;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}


.user-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.user-box img {
    border-radius: 50%;
    width: 200px;
    border: 8px solid #0059ff;
}

.user-box h1 {
    color: #ffffff;
    font-weight: bold;
    margin: 10px;
}

.user-box h1 span {
    color: #0059ff;
}

.user-box p {
    color: #ffffff;
}

.about {
    padding-top: 100px;
    padding-bottom: 50px;
}

.profile-img {
    height: 400px;
}

.scroll-btn {
    bottom: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #ffffff;
    padding: 10px 10px 20px;
    border-radius: 25px;
}

.scroll-bar span {
    border: 2px solid #ffffff;
    font-size: 8px;
    border-radius: 30px;
}

.scroll-bar {
    animation: mover 1s infinite alternate;
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100%{
        transform: translateY(10px);
    }
}

.skill-bar h3 {
    font-weight: bold;
    /* margin-bottom: 10px; */
    padding: 10px 10px 0px 0px;
}

.skill-bar h3 span {
    color: #0059ff;
}

.skill-bar p {
    margin-bottom: 6px;
    font-weight: 550;
}

.progress {
    border-radius: 16px !important;
    margin-bottom: 10px;
}

/* ----------------Timeline & Resume---------------- */

.resume {
    padding-top: 50px;
    padding-bottom: 30px;
    background: #f9f9f9;
}

.resume h1 {
    margin-bottom: 50px;
}

.resume h3 {
    margin-bottom: 50px;
}

.timeline {
    border-left: 2px solid #e0e0e0;
    padding: 15px 0;
}
  
.timeline-item {
    position: relative;
    padding: 15px 20px 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-left: 2px solid #0059ff;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
}
  
.timeline-item:hover {
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
}
  
.timeline-item:last-child {
    margin-bottom: 0;
}
  
.timeline-item:before {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    top: 20px;
    left: -29px;
    border: 2px solid #0059ff;
    z-index: 2;
}
  
.timeline-item:after {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #0059ff;
    border-radius: 10px;
    width: 29px;
    height: 2px;
    top: 25px;
    left: -29px;
    z-index: 1;
}
  
.timeline-item .item-title {
    display: block;
    margin: 0;
    font-size: 18px;
    /* line-height: 1.2em; */
    font-weight: bold;
}
  
.timeline-item .item-period {
    display: inline-block;
    font-size: 12px;
    line-height: 1.2em;
    color: #0059ff;
    margin-bottom: 8px;
}
  
.timeline-item .item-small {
    display: inline-block;
    font-size: 12px;
    line-height: 1.2em;
    color: #9e9e9e;
    margin-left: 5px;
    margin-bottom: 8px;
    padding-left: 8px;
    border-left: 1px solid #e0e0e0;
}

/* ----------------Portfolio---------------- */

.portfolio {
    padding-top: 50px;
    padding-bottom: 30px;
    background: #ffffff;
}

.portfolio h1 {
    margin-bottom: 50px;
}


.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
    margin: 0;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

figure.effect-ravi {
    background: #303fa9;
    margin: 0;
}

.grid [class^="col"] {
    padding: 2px;
}

figure.effect-ravi h2 {
    font-size: 158.75%;
}

figure.effect-ravi h2,
figure.effect-ravi p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}

figure.effect-ravi figcaption::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    border: 2px solid #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}

figure.effect-ravi p {
    width: 100px;
    text-transform: none;
    font-size: 121%;
    line-height: 2;
}

figure.effect-ravi p a {
    color: #fff;
}

figure.effect-ravi p a:hover,
figure.effect-ravi p a:focus {
    opacity: 0.6;
}

figure.effect-ravi p a i {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-ravi p a:first-child i {
    -webkit-transform: translate3d(-60px, -60px, 0);
    transform: translate3d(-60px, -60px, 0);
}

figure.effect-ravi p a:nth-child(2) i {
    -webkit-transform: translate3d(60px, -60px, 0);
    transform: translate3d(60px, -60px, 0);
}

figure.effect-ravi p a:nth-child(3) i {
    -webkit-transform: translate3d(-60px, 60px, 0);
    transform: translate3d(-60px, 60px, 0);
}

figure.effect-ravi p a:nth-child(4) i {
    -webkit-transform: translate3d(60px, 60px, 0);
    transform: translate3d(60px, 60px, 0);
}

figure.effect-ravi:hover figcaption::before {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
}

figure.effect-ravi:hover h2 {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
    transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
}

figure.effect-ravi:hover p i:empty {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* just because it's stronger than nth-child */
    opacity: 1;
}

.button {
    margin-bottom: 50px;
}

.portfolio .btn {
    padding: 10px 25px 10px 25px;
    margin: 5px;
    border-radius: 30px;
    border: 2px solid #0059ff;
    /* background: transparent; */
}

/* ----------------Contact---------------- */

.contact {
    padding-top: 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/img/bg_2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
}

.contact row {
    padding: 30px 0;
    font-size: 22px;
}

.contact .col-md-4 .fa {
    padding: 10px;
    font-size: 30px;
}

.contact .col-md-4 {
    padding: 10px;
    /* font-size: 30px; */
    margin-bottom: 10px;
}

.contact .btn {
    padding: 10px 25px 10px 25px;
    margin: 5px;
    border-radius: 30px;
    border: 2px solid #ffffff;
    background: transparent;
}

.contact .btn:focus {
    box-shadow: none !important;
}

.contact .btn:hover {
    border: 2px solid #0059ff !important;
    background: #0059ff !important;
    transition: 0.6s;
}

.contact .btn .fa {
    margin-right: 10px;
}

.footer {
    background: #000;
    height: 50px;
    margin-top: 50px;
    color: #ffffff;
    padding-top: 15px;
}

.footer p {
    font-size: 14px;
}